<div>
    <h1>About Me</h1>
    <img src="assets/personal.png" alt="personal photo">
    <hr />
    <p>
        Hello! My name is Ram Patel and I am a student at North Gwinett High School. I like to write applications as a personal hobby,
        ranging from websites, to mini-electronics projects. Currently, I participate in a program called CHARGEnorth in my school, 
        a program for students at North Gwinnett High School that has STEM focused at the center of it. 
    </p>
    <hr />
    <h1>What are my skills?</h1>
    <p>
        Programming-wise:<br>
            Frontend web frameworks/technologies (React, Vue, Angular, HTML/CSS/JS),<br>
            Backend/Microservice web frameworks: (Django, Flask, Actix, rocket.rs),<br>
            Languages: C++, Python, Rust, Java,<br>
            Machine-learning libraries: PyTorch,<br>
            DBMS Knowledge: SQL, PostgreSQL, MySQL,<br>         
            Knowledge of programming mini-computers such as the Raspberry PI, and working with boards such as an Arduino,<br>
            Knowledge of shell-scripting (Bash),<br>
            Version control systems (Git, GitHub)
        <br>Academic-wise:<br>
            Background in math (High B in Honors Precalculus, and have a working knowledge of integral and differential calculus),
            <br>Knowledge of writing evidence-based papers/analysis-based essays from academic sources (AP Seminar, AP World History),
            <br>Knowledge of computer science as a general topic (AP Computer Science Principles),
            <br>Knowledge of environmental science (AP Environmental Science),
            <br>Knowledge of French (Honors French II)
        <br>Other technologies:
            CAD (OnShape),
            Excel spreadsheets,
            Google Docs,
            Google Spreadsheets
    </p>
    <hr />
    <h1>What are my current goals?</h1>
    <p>
        Getting an internship at an IoT (Internet of Things)/embedded systems company, <br>
        Graduation with a GPA near 4.0-4.3 (My current GPA is 4.2),<br>
        Getting into colleges with embedded systems/computer engineering as one of their focuses (UT Austin/GA Tech),
    </p>
    <hr />
    <h1>Clubs, sports, activities outside of school</h1>
    <p>
        FRC Robotics Club (Programming team, TEAM 1771)<br>
            - Helped investigate causes of high CPU utilisation with one of the robots, Robosaurus<br>
            - Helped develop different algorithms for two of the robots, O-Bob, and Robosaurus
    </p>
</div>
