<h1>My 9th Grade Projects</h1>
<hr>
<div class="card">
    <div class="container">
        <h2>Balloon Car</h2>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vRNBIZcKMpbiXkIqIJt-rF8ybzJ6lwkKxGY4reE4UMqhG4SkCbLuGkNS7gKIUvc1iquz0fAS3wd_xLQ/pub?embedded=true"
            width="850"
            height="1000"
        ></iframe>
        <p>
            Description:<br>
            This was an engineering project where I teamed up with a few people to design and build a car that would be propelled forward using a balloon.<br>
            The purpose of this project was to meet the requirements specified in the document.<br>
        </p>
        <p>
            Skills learned:<br>
                - I learned how the coating of a certain surface, such as a balloon, affects the friction of a moving object, such as a car.<br>
                - I learned also how to use citation generators, such as BiBTeX<br>
            The document showcasing this project clearly outlines the requirements of the project, clearly outlines improvements that may have been needed to be made to the design,
            and helps a person who might be new to the project understand what we were trying to do.
        </p>
    </div>
</div>
<div class="card">
    <div class="container">
        <h2>CorelDRAW Keychain</h2>
        <img src="assets/keychain.jpg" alt="keychain" width="500" height="300">
        <p>
            This was an engineering project where we were supposed to design a keychain using CorelDRAW, a software for creating 2d graphics. 
            We were also allowed to use onshape DXF's imported into CorelDRAW for our keychain designs.<br>
        </p>
        <p>
            Skills learned:<br>
                - I learned how to use CorelDRAW to create 2d graphics to be laser cut<br>
            This project overall showcases me properly using CorelDRAW to create a keychain design, which was not merely a random shape to be cut.
        </p>
    </div>
</div>
<div class="card">
    <div class="container">
        <h2>Mean Temperature Predictor</h2>
        <img src="assets/mpredictor.png" alt="Mean temperature predictor" width="500" height="300">
        <p>
            A showcase project for my initial portfolio website for engineering, that predicts the mean temeprature of given day given its high and low temperature.<br>
        </p>
        <p>
            Skills learned:<br>
                - I learned how to use the linear regression model from sklearn to predict an outcome using a dataset.<br>
                - I learned how to choose the best data columns of a dataset to have a model yield an accurate result.<br>
            Deriving predictions from a dataset is very important in fields such as finance, healthcare, and etc. 
            This project showcases me effectively utilizing some data from a dataset to generate new predictions about the mean temperature of a certain day. 
        </p>
    </div>
</div>
<div class="card">
    <div class="container">
        <h2>Iris Species Classifier</h2>
        <img src="assets/classifier.png" alt="classifier project" width="500" height="300">
        <p>Another showcase project for my engineering portfolio site that predicts a species of a certain 
            Iris species flower given mutliple parameters such as petal length, and etc.<br></p>
        <p>
            Skills learned:<br>
                - I learned how to tokenize a label column of a dataset (e.g. encoding one output to a value of 0, another to a value of 1, and etc.)<br>
                - I learned how to utilize the K Nearest Neighbors classification model from sklearn<br>
            Classification is an important tool in technologies such as computer vision, and identifying certain types of disease.
            This project showcases me classifying flowers from random data about them.
        </p>
    </div>
</div>