<h1>My 9th grade projects</h1>
<hr>
<div class="card">
    <div class="container">
        <h2>Balloon Car</h2>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vRNBIZcKMpbiXkIqIJt-rF8ybzJ6lwkKxGY4reE4UMqhG4SkCbLuGkNS7gKIUvc1iquz0fAS3wd_xLQ/pub?embedded=true"
            width="850"
            height="1000"
        ></iframe>
    </div>
</div>
<div class="card">
    <div class="container">
        <h2>CorelDRAW Keychain</h2>
        <img src="assets/keychain.jpg" alt="keychain" width="500" height="300">
    </div>
</div>
<div class="card">
    <div class="container">
        <h2>Mean Temperature Predictor</h2>
        <img src="assets/mpredictor.png" alt="Mean temperature predictor" width="500" height="300">
    </div>
</div>
<div class="card">
    <div class="container">
        <h2>Iris Species Classifier</h2>
        <img src="assets/classifier.png" alt="classifier project" width="500" height="300">
    </div>
</div>