<h1>My 9th grade Projects</h1>
<hr>
<h1>9th grade</h1>
<div class="card">
  <div class="container">
    <h2>Balloon Car</h2>
      <iframe src="https://docs.google.com/document/d/e/2PACX-1vRNBIZcKMpbiXkIqIJt-rF8ybzJ6lwkKxGY4reE4UMqhG4SkCbLuGkNS7gKIUvc1iquz0fAS3wd_xLQ/pub?embedded=true" width="840" height="1000"></iframe>
  </div>
</div>
<div class="card">
  <div class="container">
    <h2>CorelDRAW Keychain</h2>
    <img src="assets/WIN_20220509_19_53_04_Pro.jpg" alt="Laser cut design" width="500", height="500">
    <p>
        3 things that I learned from CorelDRAW: 
    </p>
    <ul>
        <li *ngFor="let rule of keychain_rules">
            <p>{{rule}}</p>
        </li>
    </ul>
  </div>
</div>
<div class="card">
  <div class="container">
    <h2>Statistics library for Algebra II</h2>
    
    <p>For Algebra II, I had a unit on statistics, I decided to write some of the mathematical functions we used in code using Python initially, but then I switched to Haskell.</p>
  </div>
</div>