<div class="site-bg">
  <div class="brand">
    <h1 class="home-header"><a routerLink="/" routerLinkActive="active">Ram Patel</a></h1>
  </div>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/about-engineering" routerLinkActive="active">About engineering</a></li>
      <li><a routerLink="/engineering-projects" routerLinkActive="active">2021-2022 Projects</a></li>
      <li><a routerLink="/balloon-car" routerLinkActive="active">Balloon Car</a></li>
      <li><a routerLink="/coreldraw-keychain" routerLinkActive="active">CorelDRAW Keychain</a></li>
      <li><a routerLink="/personal-projects" routerLinkActive="active">Personal Projects</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
