<div>
    <h1>My 10th grade Projects</h1>
    <p>Projects of my second year of ChargeNORTH</p>
    <hr>
    <div class="card">
        <div class="container">
            <h2>Individual Multimedia Presentation</h2>
            <img src="../../../assets/IMG_6530.png" alt="My photo" class="pres-image" width="500" height="400">
            <p>An AP Seminar presentation that I did. The presentation was about how the physical and non-physical factors of prison culminate into a prisoner's well being,
                and their ability to reintegrate into society.<br></p>
            <p>
                Skills I learned:<br>
                    - Creating good slide designs to engage an audience<br>
                    - Keeping composure even when in a stressful situation, such as presenting<br>
                This project overall showcased some of my best slide design, and also my best presentation talking points.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h2>Individual Written Argument</h2>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vQVo2YR1DeIv-T6Pr4lVhpzubnOOgmW7YpQMDIvfCAQ4U7BkiziSDYtq7XgU41C6ZzLQvBdtjrQEHNM/pub?embedded=true"
                width="850"
                height="1000"
            ></iframe>
            <p>This was a part of AP Seminar, that involved me writing an argumentative paper that argued that the physical 
                and non-physical factors of a prison culminated into a prisoner's well being and their ability to reintegrate into society.<br></p>
            <p>
                Skills I learned:<br>
                    - Showing a range of perspectives around a topic to display an argument <br>
                    - Using JSTOR as a place for sources of books and academic journals<br>
                This is one of the most effective papers I've written for a school Language Arts project. It incorporates many different arguments which are backed by academic sources of evidence.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h2>Digital Assistant QA Chatbot</h2>            
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTjIRhqjqAKOLkrVkt4r74qvFzot5GMSJCg_GxuEe-2Puq_SUAuCL_IbUvb-6IRrA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            <p>This was an engineering makerspace project, 
                where I made a physical chatbot using a raspberry pi that when given a question prompt,
                it would respond with an answer to the prompt.<br></p>
            <p>
              Skills learned:<br>
                - Configuring audio on Linux<br>
                - Using the pip module chatterbot, to create a chatbot and train it<br>
                - Using the pip modules speech_recognition and pyttsx3 for text-to-speech and speech-to-text<br>
              This project showcases me effectively using code to create a tangible product in the real world. 
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h2>Planetary Gearbox</h2>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS9sXj-nT7GMnwTfj_p_JK0oTktrgtO-Vq0NPxfvC86VbtMecpLDnedpZnLmG87BQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            <p>This was a team makerspace project, where we created a planetary gearbox, a gear system that has a central/large gear, surrounded by smaller gears.
                 When the large gear turned, all of the small gears would turn as well.<br></p>
            <p>
              Skills learned:<br>
                - Learning how to use an arduino for electronics projects<br>
                - Learning how to use a digital multimeter to measure electrical output<br>
              I used engineering to help solve real-world problems with gearing systems, and designing of them.
            </p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <h2>Flower Stands</h2>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRR-r9wepiD7bW4HO24m2aGsUmDNxvIGWZw1FWw6PHiPzr1qfTbD7K0va8jn7sPHg/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
            <p>This was another team engineering makerspace project where we created these test tube holders, in which these test tubes would hold these flowers. This was for a wedding of one the teachers.<br></p>
            <p>
              Skills learned:<br>
                - Using a drill press to drill holes into a piece of wood<br>
                - Using a air gun to clear particles off of an object<br>
              
            </p>
        </div>
    </div>
</div>
