<div>
    <h1>My 10th grade Projects</h1>
    <hr>
    <div class="card">
        <div class="container">
            <h2>Individual Multimedia <br>
                Presentation</h2>
            <img src="../../../assets/IMG_6530.png" alt="My photo" class="pres-image" width="500" height="400">
            <p>This is a required part of my AP Seminar curriculum, which was to create a presentation displaying an argument based on a topic. 
                However, we needed to connect some of arguments to stimulus materials provided to us by the CollegeBoard.</p>
        </div>
    </div>
    <div class="card">
        <div class="container">

        </div>
    </div>
</div>
